<mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Dispositivos</mat-card-title>
      <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Biometricos</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">                              
                                    <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label>Nombre Dispositivo</mat-label>
                                          <input matInput value="" />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-md-4">
                                      <mat-form-field class="w-100" appearance="outline">
                                          <mat-label>Direccion IP</mat-label>
                                          <input matInput value="" />
                                      </mat-form-field>
                                    </div>
                                    <div class="col-4">
                                        <a [routerLink]="" mat-flat-button color="accent" class="w-100">
                                            Conectar
                                        </a>
                                    </div>    
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
      </div>
      


    </mat-card-content>
</mat-card>

